section.section-map
  .container
    h2.section-map__title.text-center
      | Зона доставки
  .section-map__frame
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d90466.15925616802!2d30.150145009022957!3d59.931501932637346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4696378cc74a65ed%3A0x6dc7673fab848eff!2z0KHQsNC90LrRgi3Qn9C10YLQtdGA0LHRg9GA0LMsINCg0L7RgdGB0LjRjw!5e0!3m2!1sru!2s!4v1652961116880!5m2!1sru!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>