-
	const data = {
		header: {
			links: {
				logo: '/',
			},
			menu: [
				{
					url: '#hello',
					name: 'Ну привет'
				},
				{
					url: '#necessarily',
					name: 'Обязательно к прочтению'
				},
				{
					url: '#bye',
					name: 'И пока'
				}
			],
			socials: [
				{
					name: 'Whatsapp',
					icon: 'whatsapp'
				},
				{
					name: 'VK',
					icon: 'vk'
				},
				{
					name: 'Telegram',
					icon: 'tg'
				},
			]
		},

		share: {
			caption: 'Поделиться:',
			list: ['fb', 'tw', 'vk', 'ok'],
		},

		home: {
			info: [
				{
					icon: 'icon01',
					title: 'Заберем вещи',
					subtitle: 'В удобное для Вас время курьер приедет и заберет вещи в стирку или химчистку'
				},
				{
					icon: 'icon02',
					title: 'Постираем или почистим',
					subtitle: 'В зависимости от типа вещей и характера загрязнений на оборудовании Electrolux'
				},
				{
					icon: 'icon03',
					title: 'Доставим чистое',
					subtitle: 'Стирка будет готова уже через день, химчистка вещей и обуви до 5 дней'
				}
			],
			carts: [
				{
					title: 'Стирка',
					desc: '1 загрузка до 5 кг',
					price: '170'
				},
				{
					title: 'Стирка + Сушка',
					desc: 'Загрузка до 5 кг',
					price: '320'
				},
				{
					title: 'Постирать и сложить',
					desc: 'Загрузка до 5 кг. Все включено',
					price: '430'
				},
				{
					title: 'Постельное белье с глажкой',
					desc: 'За 1 вещь. Мин. заказ 500 рублей',
					price: '100'
				},
				{
					title: 'Крупная вещь',
					desc: 'Одеяло/плед/чехол. Всё включено',
					price: '750'
				},
				{
					title: 'Пуховик, Утепленная куртка',
					desc: 'За 1 вещь. Всё включено',
					price: '790'
				},
				{
					title: 'Пуховик',
					desc: '',
					price: '1300'
				},
				{
					title: 'Пиджак',
					desc: '',
					price: '700'
				},
				{
					title: 'Плащ',
					desc: '',
					price: '1100'
				},
				{
					title: 'Пальто',
					desc: '',
					price: '1450'
				},
				{
					title: 'Платье',
					desc: '',
					price: '950'
				},
				{
					title: 'Рубашка',
					desc: '',
					price: '300'
				},
			],
			lists: {
				0: [
					{
						icon: 'icon01',
						title: 'Домашний текстиль',
						items: [
							{
								title: 'Постельное белье за шт',
								price: '100'
							},
							{
								title: 'Одеяло, плед, чехол',
								price: '750'
							},
							{
								title: 'Скатерть',
								price: '800'
							},
							{
								title: 'Полотенце, салфетка',
								price: '300'
							},
							{
								title: 'Шторы однослойные',
								price: '200'
							},
							{
								title: 'Подушка',
								price: '750'
							},
							{
								title: 'Постирать и погладить за кг (от 3кг)',
								price: '490'
							}
						]
					},
					{
						icon: 'icon02',
						title: 'Повседневная одежда',
						items: [
							{
								title: 'Рубашка, блузка, футболка, поло',
								price: '300'
							},
							{
								title: 'Постирать и погладить за кг (от 3кг)',
								price: '490'
							},
							{
								title: 'Шорты',
								price: '400'
							},
							{
								title: 'Брюки, джинсы, шорты, юбки',
								price: '600'
							},
							{
								title: 'Спортивный костюм',
								price: '800'
							},
							{
								title: 'Свитер, джемпер, худи, кофта',
								price: '600'
							}
						]
					},
					{
						icon: 'icon03',
						title: 'Прочее',
						items: [
							{
								title: 'Шарф, шапка, перчатки, платки, галстук',
								price: '500'
							},
							{
								title: 'Пижама',
								price: '500'
							},
							{
								title: 'Купальник',
								price: '500'
							}
						]
					},
				],
				1: [
					{
						icon: 'icon04',
						title: 'Верхняя одежда',
						items: [
							{
								title: 'Утепленная куртка, пуховик',
								price: '1350'
							},
							{
								title: 'Пальто',
								price: '1450'
							},
							{
								title: 'Плащ',
								price: '1100'
							},
							{
								title: 'Куртка с мехом, отделкой мехом',
								price: '2000'
							},
							{
								title: 'Ветровка, легкая куртка, жилет пуховой',
								price: '800'
							},
							{
								title: 'Комбинезон',
								price: '1650'
							},
							{
								title: 'Горнолыжный костюм',
								price: '2750'
							}
						]
					},
					{
						icon: 'icon05',
						title: 'Деловая одежда',
						items: [
							{
								title: 'Рубашка, блузка, жилет',
								price: '300'
							},
							{
								title: 'Брюки',
								price: '600'
							},
							{
								title: 'Пиджак',
								price: '700'
							}
						]
					},
					{
						icon: 'icon06',
						title: 'Платья',
						items: [
							{
								title: 'Платье простое',
								price: '950'
							},
							{
								title: 'Палтье вечернее',
								price: '1750'
							},
							{
								title: 'Платье свадебное',
								price: '3500'
							}
						]
					},
				]
			},
			faqs: [
				{
					icon: 'bags',
					title: 'Как вы упаковываете вещи?',
					subtitle: 'При приёме курьер сложит все ваши вещи в один большой мешок. Вещи из химчистки вернем на вешалках в полиэтиленовых чехлах, а вещи из стирки - аккуратно сложенными в пакете.'
				},
				{
					icon: 'lupa',
					title: 'Не могу найти вещь в прайс листе. Что делать?',
					subtitle: 'Мы не принимаем ковры и  натуральную кожу. В остальных случаях позвоните или напишите нам — ответим на любые вопросы.'
				},
				{
					icon: 'hourglass',
					title: 'Когда вы списываете деньги за заказ?',
					subtitle: 'Оплата производится при получении вещи.'
				},
				{
					icon: 'money',
					title: 'Могу ли я оплатить заказ наличными?',
					subtitle: 'Если вы хотите оплатить наличными разовый заказ, то позвоните или напишите нам — поможем.'
				}
			],
			socials: [
				{
					icon: 'whatsapp',
					title: 'Whatsapp',
					color: 'linear-gradient(84.86deg, #20B038 23.6%, #60D66A 81.54%);'
				},
				{
					icon: 'tg',
					title: 'Telegram',
					color: 'linear-gradient(267.42deg, #2AABEE 17.02%, #229ED9 78.13%);'
				},
				{
					icon: 'vk',
					title: 'ВКонтакте',
					color: 'linear-gradient(86.02deg, #016DB4 1.59%, #20BDFF 85.66%, #E4DBD9 169.73%);'
				},
			]
		},

		modal: {
			close: 'Закрыть',
		},
	};

script.
	window.data = {
		home: !{JSON.stringify(data.home)},
	};
